.yellow-banner {
    width: 100vw;
    height: 10vh;
    @include center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FFFACB;

    &__h1 {
        font-family: $logo-font;
        font-size: 2.5rem;
        letter-spacing: .1rem;
        margin-bottom: 0px;
    }
}

.session-details {
    width: 100vw;
    @include center-column;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__h2 {
        @include p-text;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &__form-container {
        width: 30%;
        min-width: 35rem;
        @include center-column;
    }

    &__name-city-div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem
    }

    &__input {
        @include input;
    }

    &__input::placeholder {
        text-align: left;
        color: black;
    }

    &__input:focus::placeholder {
        color: transparent;
    }

    &__input:focus {
        text-align: left;
    }

    &__form-div {
        width: 100%;
        margin-bottom: 3rem;
        padding: 0px;
    }

    &__p {
        @include p-text;
        padding-bottom: 1rem;
        padding-bottom: 0px;
    }

    &__regular-p {
        @include p-text;
        font-weight: normal;
        padding-bottom: 1rem;
    }

    &__text-area {
        @include text-area;
    }

    &__text-area::placeholder {
        @include p-text;
        color: black;
        text-align: left;
    }

    &__select-div {
        padding-bottom: 1rem;
    }

    &__checkbox-input {
        margin-right: 1rem;
    }

    &__extra-learner-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 3.5rem
    }

    &__participant-no-div {
        width: 100%;
        margin-bottom: 3.5rem
    }

    &__participant-no {
        @include p-text;
        padding: 6px;
        background: $light-mist;
        border: none;
        border-radius: 4px;
    }

    &__pricing-container {
        width: 100%;
        margin-bottom: 3rem
    }

    &__pricing-div {
        display: flex;
        justify-content: space-between;
    }

    &__pricing-input-div {
        display: flex;
        width: 48%;
        background: $light-mist;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        border-radius: 4px;
        margin-bottom: 3rem
    }

    &__number-input {
        @include p-text;
        background: $light-mist;
        border: none;
        width: 2.5rem;
        margin-right: 1rem;
    }

    &__number-input:focus {
        text-align: left;
    }

    &__radio-div {
        padding-bottom: 1rem;
    }

    &__radio-input {
        margin-right: 1rem;
    }

    &__photo-upload-container {
        width: 100%;
        margin-bottom: 3.5rem
    }

    &__img-upload-btn::-webkit-file-upload-button {
        @include button-beginnings;
        @include p-text;
        border: none;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-right: 1rem;
    }

    &__img-upload-btn-one {
        margin-bottom: 1rem;
    }

    &__add-photo {
        margin-bottom: 1rem;
    }

    &__photo-display-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.5rem
    }

    &__photo-display {
        width: 48%;
        height: 10rem;
    }

    &__final-text {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    &__submit {
        @include yellow-btn;
        // font-family: $text-font !important;
        // color: white !important;
        margin-top: 2rem;
        margin-bottom: 5rem;
        position: relative;
    }
}

.error-div {
    @include center;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    z-index: 2;
    padding: 2rem;

    &__p {
        @include p-text;
    }
}

.create-session-container {
    position: relative;
}

.error-div-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px){
    .yellow-banner {
        
        &__h1 {
            font-size: 2rem;
        }
    }

    .session-details {
        padding-top: 3rem;
        padding-bottom: 3rem;

        &__form {
            width: 32rem;
        }

        &__p {
            font-size: 1.2rem;
        }

        &__regular-p {
            font-size: 1.2rem;
        }

        &__input {
            font-size: 1.2rem;
        }

        &__name-input {
            font-size: 1.2rem;
        }

        &__visible-file-upload-btn {
            font-size: 1.2rem;
        }

        &__text-area::placeholder {
            font-size: 1.2rem;
        }

        &__submit {
            font-size: 1.2rem;
        }
    }
}