.landing-page {
    width: 100vw;
    height: 78vh;
    display: flex;
    border-bottom: 2px solid black;

    &__p {
        @include p-text;
        text-align: center;
        margin-top: 2rem;
    }

    &__left {
        width: 50%;
        height: 100%;
        @include center;
        background: #FFCBFD;
        background: -webkit-linear-gradient(to bottom right, #FFCBFD 0%, #B8FFF6 100%);
        background: -moz-linear-gradient(to bottom right, #FFCBFD 0%, #B8FFF6 100%);
        background: linear-gradient(to bottom right, #FFCBFD 0%, #B8FFF6 100%);
        border-right: 1px solid black;
    }

    &__big-text {
        @include p-text;
        font-size: 5rem;
        text-align: center;
    }

    &__right {
        width: 50%;
        height: 100%;
        border-left: 1px solid black;
    }

    &__top {
        width: 100%;
        height: 50%;
        display: flex;
    }
    
    &__bottom {
        width: 100%;
        height: 50%;
        display: flex;
    }

    &__top-left {
        width: 50%;
        height: 100%;
        @include center;
        flex-direction: column;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        padding: 2rem;
    }

    &__top-right {
        width: 50%;
        height: 100%;
        @include center;
        flex-direction: column;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        padding: 2rem;
    }

    &__bottom-left {
        width: 50%;
        height: 100%;
        @include center;
        flex-direction: column;
        border-right: 1px solid black;
        border-top: 1px solid black;
        padding: 2rem;
    }

    &__bottom-right {
        width: 50%;
        height: 100%;
        @include center;
        border-left: 1px solid black;
        border-top: 1px solid black;
        background: #FFE3B8;
        background: -webkit-linear-gradient(to bottom right, #FFE3B8 0%, #FFCBEA 100%);
        background: -moz-linear-gradient(to bottom right, #FFE3B8 0%, #FFCBEA 100%);
        background: linear-gradient(to bottom right, #FFE3B8 0%, #FFCBEA 100%);
    }
}

@media only screen and (max-width: 600px){
    .landing-page {
        flex-wrap: wrap;

        &__p {
            font-size: 1.2rem;
        }

        &__left {
            width: 100%;
            height: 40%;
            border-right: none;
            border-bottom: 1px solid black;
        }

        &__right {
            width: 100%;
            height: 60%;
            border-left: none;
            border-top: 1px solid black;
        }

        &__big-text {
            font-size: 2.7rem;
        }

        &__icon {
            width: 4rem;
        }

        &__star-icon {
            width: 8rem;
        }
    }
}