@import 'variables';
@import 'mixins';

.login-form {
    @include center;
    flex-direction: column;
    padding: 4rem;

    &__heading {
        font-family: $text-font;
        font-weight: lighter;
        margin-bottom: 2rem;
    }

    &__details {
        @include center;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__input {
        @include input;
        width: 20rem;
    }

    &__input::placeholder {
        text-align: left;
        color: black;
    }

    &__input:focus::placeholder {
        color: transparent;
    }

    &__login-btn {
        @include yellow-btn;
    }
}

.top-nav {
    width: 100vw;
    height: 22vh;
    background: white;
    border-bottom: 2px solid black;
    @include center;
    flex-direction: column;
    position: relative;

    &__menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;
    }

    &__h1-hello {
        font-family: $text-font;
        font-size: 6rem;
        font-weight: lighter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__h1-hobbi {
        font-family: $logo-font;
        letter-spacing: .2rem;
    }

    &__sign-out {
        @include p-text;
        cursor: pointer;
        margin-bottom: 0px;
    }

    &__login {
        @include p-text;
        cursor: pointer !important;
        margin-bottom: 0px;
    }

    &__teach-hobby-btn {
        @include yellow-btn;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 600px){
    .top-nav {
        height: 15vh;

        &__h1-hello {
            left: 25%;
            font-size: 2.5rem;
            float: left;
        }

        &__menu {
            float: right;
            padding-right: 1rem;
        }

        &__sign-out {
            font-size: 1.2rem;
        }

        &__login {
            font-size: 1.2rem;
        }

        &__teach-hobby-btn {
            font-size: 1.2rem;
            margin-left: 1.5rem;
        }
    }

    .login-form {
        padding: 2rem;
        
        &__input {
            font-size: 1.2rem;
        }

        &__input::placeholder {
            font-size: 1.2rem;
        }

        &__login-btn {
            font-size: 1.2rem;
        }
    }
}